---
import Layout from '$layouts/Layout.astro'
import Footer from '$components/Footer.astro'
import Section01 from '$components/Section01.astro'
import Section02 from '$components/Section02.astro'
import Section03 from '$components/Section03.astro'
import Section04 from '$components/Section04.astro'
import Section05 from '$components/Section05.astro'
---

<Layout>
	<main class="overflow-clip">
		<Section01 />
		<Section02 />
		<Section03 />
		<Section04 />
		<Section05 />
	</main>
	<Footer />
</Layout>
