---
import Icon from '$components/Icon.astro'
---

<footer class="bg-sky-100 py-12 text-blue-900 md:py-24">
	<div class="container">
		<div class="text-center tracking-widest">ElTiempo Content para</div>
		<Icon class="mx-auto mt-3 w-32" name="daflon" />
	</div>
</footer>
