<section class="overflow-clip py-24">
	<div class="container">
		<div class="reveal-group mx-auto max-w-xl">
			<h2 class="reveal-fade-in-up mb-12 text-center font-serif text-3xl font-medium text-blue-900">La mochila a punto, las rutas ya están seleccionadas, botas nuevas, equipación de primera… el momento que llevas esperando todo el año ya está a la vuelta de la esquina.</h2>
			<p class="reveal-fade-in-up reveal-delay-100 mt-6 text-lg">Con la llegada del verano, es hora de planificar las vacaciones. Por fin vas a poder desconectar, recargar energías y disfrutar de tus actividades preferidas. Pero… un momento, <strong>¿qué tal están tus piernas?</strong> ¿Te duelen? ¿Sientes <a class="text-blue-900 underline" target="_blank" href="https://daflon.es/">pesadez o cansancio</a>? ¿Están hinchadas? No infravalores estos síntomas, la insuficiencia venosa es un problema que afecta al 60% de la población española y puede ser indicativo de una enfermedad cardiovascular crónica que te puede arruinar las vacaciones y tu calidad de vida.</p>
			<p class="reveal-fade-in-up reveal-delay-200 mt-6 text-lg">Si tienes alguno de los síntomas mencionados es importante que acudas a tu médico para comenzar un tratamiento. Además, lo puedes complementar con estos prácticos consejos para que llegues al <strong>verano en plena forma y con unas piernas saludables</strong>.</p>
		</div>
	</div>
</section>
